@model IEnumerable<WorkoutBuilder.Models.RepSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sets of Repetitions</h2>

<table class="table">
    <tbody>
        <tr>
            <td>
                <div class="pull-right">
                    <a href="@Url.Action("Create")"
                       class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-plus"></span><span class="hidden-xs"> Add RepSet</span>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

@if (!Model.Any())
{
    <p> We don't have any sets of repetitions yet.</p>
}


else
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reps)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reps)
            </td>
            <td>
                <div class="pull-right">
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning btn-sm margin-right">
                        <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                    </a>
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                    </a>
                </div>
            </td>
        </tr>
    }

    </table>
}
