@model WorkoutBuilder.ViewModels.WorkoutViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add an exercise to a workout</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Workout</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
                <div class="form-group">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                Exercise
                            </th>
                            <th>
                                Sets and Reps
                            </th>
                            <th>
                                Notes
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DropDownListFor(m => m.ExerciseId, new SelectList(Model.ExerciseList, "Id", "Name"), "", new {@class = "form-control"})
                            </td>
                            <td>
                                @Html.DropDownListFor(m => m.RepSetId, new SelectList(Model.RepSetList, "Id", "Name"), "", new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                       
                    </tbody>
                </table>

        </div> 

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add to workout" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
