@model WorkoutBuilder.ViewModels.WorkoutViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add an exercise to a workout</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>Workout</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.ExerciseId, "Exercise Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(m => m.ExerciseId, new SelectList(Model.ExerciseList, "Id", "Name"), "", new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.ExerciseId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RepSetId, "RepSet Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.RepSetId, new SelectList(Model.RepSetList, "Id", "Name"), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RepSetId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add to workout" class="btn btn-primary btn-sm" />
                    <a class="col-md-offset-1 btn btn-default" href="../Details/@(Model.WorkoutId )" role="button">Cancel</a>
                </div>
            </div>

}

