@model WorkoutBuilder.Models.Workout

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayNameFor(model => model.Name)</h4>
    <hr />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Reps</th>
                <th>Sets</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in Model.Exercises)
                 {
                    <tr>
                        <td>@exercise.Exercise.Name)</td>
                        <td>@exercise.RepSet.Reps)</td>
                        <td>@exercise.RepSet.Sets</td>
                        <td>
                            |
                            @Html.ActionLink("Delete", "Delete", new { id = exercise.Id })
                        </td>
                    </tr>
              }
        </tbody>

    </table>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
