@model IEnumerable<WorkoutBuilder.Models.Workout>

@{
    ViewBag.Title = "Workouts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Workouts</h2>

<table class="table">
    <tbody>
        <tr>
            <td>
                <div class="pull-right">
                    <a href="@Url.Action("Create")"
                       class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-plus"></span><span class="hidden-xs"> Add Workout</span>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

@if (!Model.Any())
{
    <p> We don't have any workouts yet.</p>
}

else
{

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Workout</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var workout in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => workout.Name)</td>
                    <td>@Html.DisplayFor(modelItem => workout.Description)</td>
                    <td>
                        <div class="pull-right">
                            <a href="@Url.Action("Details", new { id = workout.Id })" class="btn btn-info btn-sm margin-right">
                                <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs"> Details</span>
                            </a>
                            <a href="@Url.Action("Edit", new { id = workout.Id })" class="btn btn-warning btn-sm margin-right">
                                <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                            </a>
                            <a href="@Url.Action("Delete", new { id = workout.Id })" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                            </a>
                        </div>
                    </td>
                </tr>}
        </tbody>
    </table>
}